<!-- Load Client-Side Compiler Dependencies -->
<script src="//code.jquery.com/jquery-latest.min.js"></script>
<script src="//rawgithub.com/visionmedia/jade/master/jade.js"></script>
<script src="//learnboost.github.io/stylus/try/stylus.min.js"></script>
<script src="//coffeescript.org/extras/coffee-script.js"></script>
<script src="//code.angularjs.org/1.3.0-beta.2/angular.min.js"></script>

<script src="//code.highcharts.com/highcharts.js"></script>
<script src="jquery.parse.min.js"></script>

<!-- Bootstrapping -->
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<script type="text/coffeescript" src="report2.coffee"></script>

<!-- Process the Template and Stylesheet -->
<script type="text/coffeescript">

$.get "report2.jade", (template) ->
  template = jade.compile(template, pretty: true)
  contents = document.open("text/html", "replace")
  contents.write template()
  contents.close()

$.get "report2.styl", (styl) ->
  stylus.render styl, (err, css) ->
    styl = document.createElement("style")
    styl.innerHTML = css # Compiled Stylus
    document.head.appendChild(styl)

</script>