doctype html
html(ng-app="generatorApp")

  head

    //- Site Information
    block meta

      title Emissary • Tournament Codes

      //-link(rel="stylesheet" href="/index.css")

  body(ng-controller="OptionsCtrl")

    //- Floating "Fork me on GitHub" Ribbon
    a(href="https://github.com/Polytonic/Emissary")
      img.gh-ribbon(alt="Fork me on GitHub"
        style="position: absolute; top: 0; right: 0; border: 0;"
        src="https://github-camo.global.ssl.fastly.net/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67"
        data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png")

    button(ng-click="update()") refresh

    select(ng-model="userOptions.map" ng-change="updateTeams()")#maps

      option Summoner's Rift
      option Howling Abyss
      option Crystal Scar
      option Twisted Treeline

    select(ng-model="userOptions.mode" ng-change="update()")#modes

      option Blind Pick
      option All Random
      option Draft Mode
      option Tournament Draft

      //- Periodic Game Modes
      option Blind Draft

      //- Legacy Game Modes
      option(disabled)
      option(disabled) One for All

    select(ng-model="userOptions.player" ng-change="update()")#players
      each val in [1, 2, 3]
        option(value=val)=val
      each val in [4, 5]
        option(value=val ng-if="userOptions.map != 'Twisted Treeline'")=val

    select(ng-model="userOptions.spec" ng-change="update()")#specs

      option All
      option Friends
      option Lobby
      option None

    br
    h4 Lobby Name:
    input(ng-model="userOptions.lobbyName" ng-change="update()" 
      placeholder="Enter a Lobby Name" autofocus)#lobbyName
    h4 Lobby Password:
    input(ng-model="userOptions.lobbyPass" ng-change="update()" ng-disabled="userOptions.rpass || userOptions.rpass === 'true'" 
      placeholder="Enter a Password (Optional)")#lobbyPass
    h4 Email:
    input(ng-model="userOptions.email" ng-change="update()"
      placeholder="Enter an Email for Match Data (Optional)")#email
    br
    h4 Tournament Code:
    input(ng-model="outputs.single" onclick="this.select()" readonly)#single

    br
    label Random Password
      input(ng-model="userOptions.rpass" ng-checked="userOptions.rpass" ng-change="update()" 
        type="checkbox")#rpass
    br
    label Random Hash
      input(ng-model="userOptions.rhash" ng-checked="userOptions.rhash" ng-change="update()" 
        type="checkbox")#rhash
    br
    label Use Index
      input(ng-model="userOptions.index" ng-checked="userOptions.index" ng-change="update()" 
        type="checkbox")#index
    br
    h4 Number of Extra Codes to Generate:
    input(ng-model="userOptions.number" ng-change="update()" type="number")#number
    br
    textarea(ng-model="outputs.multi" readonly)#multi

    //- Javascript
    block javascript

      //- Required Libraries

      script(src="//code.angularjs.org/1.3.0-beta.1/angular.min.js")
      //-script(src="/static/jquery/jquery.min.js")
      //-script(src="/static/uri.js/src/URI.js")

      //- Local Dependencies
      //-script(src="/index.js")
